* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #F4F4F4;
  font-size: 24px;
}

h1,
h2,
h3,
h3 {
  font-family: var(--font-family-accent);
  font-size: 128px;
  margin: 0;
}

p,
a,
li {
  font-family: var(--font-family-base);
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

section,
footer {
  position: relative;
  scroll-margin-top: calc(var(--header-height) + 24px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
